body{
    padding-top: 12vh;

}
nav{
    background-color: rgba(0, 54, 155, 0.836);
}
.logo{
    width: 10vw;
    height: 7vh;
}
header{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: rgba(0, 54, 155, 0.836);
    color: white;
}
.logout{
    margin-left: 80vw;
    margin-top: 5vh;
}
.card{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.full .card{
    padding: 3vw;
}
.add-row-btn{
    margin: 1vh;
}
.input-table input{
    width: 7vw;
}
.login{
    width: 30vw;
    margin-top: 3vh;
    box-shadow:  0px 0px;
}
.login-header {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.login .card-header{
    background-color: rgba(0, 54, 155, 0.836);
    color: #fff;
}
.login .body{
    margin: 1vh;
}
.records-table{
    margin-top: 10vh;
}
.full{
    margin-top: 5vh;
}
#id_description1{
    width: 20vw;
}