{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <script src=" {% static 'vue.js' %}"></script>
        <script src=" {% static 'jquery.min.js' %}"></script>
    </head>
    <body  onload="createTable()">
        <header>
            <center>
                UT Solutions Financial proposal Generator
            </center>
        </header>

        {% if user.is_authenticated %}
            <p> Hello, {{user.username}}</p>
            <a href="{% url 'logout' %}">Logout</a>
            {% block content %}
            {% endblock content %}

        {% else %}
        <p> You are not logged in</p>
        <a href="{% url 'login' %}">Login</a>

        {% endif %}


        
    </body>
</html>