{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <script src=" {% static 'vue.js' %}"></script>
        <script src=" {% static 'jquery.min.js' %}"></script>
        <script src=" {% static 'jquery.serializeToJSON.js' %}"></script>
    </head>
    <body>
        <header>
            <center>
                <h2>UT Solutions Financial proposal Generator</h2>
            </center>
        </header>

        {% if user.is_authenticated %}
            <h4> Hello, {{user.username}}</h4>
            <h5><a href="{% url 'logout' %}">Logout</a></h5>
            {% block content %}
            {% endblock content %}

        {% else %}
        <p> You are not logged in</p>
        <a href="{% url 'login' %}">Login</a>

        {% endif %}


        
    </body>
</html>